<a href="https://colab.research.google.com/github/meftahulj/nhanes_inferential_2023/blob/main/nhanes_inferential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency
import numpy as np

In [2]:

demo = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/DEMO_L.XPT', format='xport')
bp = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/BPXO_L.XPT', format='xport')
body = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/BMX_L.XPT', format='xport')
chol_total = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/TCHOL_L.XPT', format='xport')
glycohemo = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/GHB_L.XPT', format='xport')
crp = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/HSCRP_L.XPT', format='xport')
dm = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/DIQ_L.XPT', format='xport')
phy = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/PAQ_L.XPT', format='xport')
whd = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/WHQ_L.XPT', format='xport')

In [3]:
demographics = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/DEMO_L.XPT', format='xport')
demographics.DMDMARTZ

0        1.0
1        1.0
2        1.0
3        NaN
4        NaN
        ...
11928    NaN
11929    3.0
11930    1.0
11931    2.0
11932    1.0
Name: DMDMARTZ, Length: 11933, dtype: float64

In [5]:
nhanes_data = demo.merge(bp, on='SEQN', how='left')\
                  .merge(body, on='SEQN', how='left')\
                  .merge(chol_total, on='SEQN', how='left')\
                  .merge(glycohemo, on='SEQN', how='left')\
                  .merge(crp, on='SEQN', how='left')\
                  .merge(dm, on='SEQN', how='left')\
                  .merge(phy, on='SEQN', how='left')\
                  .merge(whd, on='SEQN', how='left')
print (nhanes_data)

           SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0      130378.0      12.0       2.0       1.0      43.0       NaN       5.0
1      130379.0      12.0       2.0       1.0      66.0       NaN       3.0
2      130380.0      12.0       2.0       2.0      44.0       NaN       2.0
3      130381.0      12.0       2.0       2.0       5.0       NaN       5.0
4      130382.0      12.0       2.0       1.0       2.0       NaN       3.0
...         ...       ...       ...       ...       ...       ...       ...
11928  142306.0      12.0       2.0       1.0       9.0       NaN       2.0
11929  142307.0      12.0       2.0       2.0      49.0       NaN       4.0
11930  142308.0      12.0       2.0       1.0      50.0       NaN       2.0
11931  142309.0      12.0       2.0       1.0      40.0       NaN       2.0
11932  142310.0      12.0       2.0       2.0      80.0       NaN       3.0

       RIDRETH3  RIDEXMON  RIDEXAGM  ...  PAD790U  PAD800       PAD810Q  \
0           6.0       2.0       NaN  ...     b'W'    45.0  3.000000e+00
1           3.0       2.0       NaN  ...     b'W'    45.0  3.000000e+00
2           2.0       1.0       NaN  ...     b'W'    20.0  5.397605e-79
3           7.0       1.0      71.0  ...      NaN     NaN           NaN
4           3.0       2.0      34.0  ...      NaN     NaN           NaN
...         ...       ...       ...  ...      ...     ...           ...
11928       2.0       1.0     111.0  ...      NaN     NaN           NaN
11929       4.0       2.0       NaN  ...     b'W'    15.0  5.397605e-79
11930       2.0       1.0       NaN  ...     b'W'    45.0  5.397605e-79
11931       2.0       1.0       NaN  ...     b'D'    15.0  5.397605e-79
11932       3.0       1.0       NaN  ...      b''     NaN  5.397605e-79

       PAD810U  PAD820  PAD680  WHD010  WHD020  WHD050  WHQ070
0         b'W'    45.0   360.0    71.0   190.0   200.0     1.0
1         b'W'    45.0   480.0    70.0   220.0   220.0     2.0
2          b''     NaN   240.0    60.0   150.0   165.0     1.0
3          NaN     NaN     NaN     NaN     NaN     NaN     NaN
4          NaN     NaN     NaN     NaN     NaN     NaN     NaN
...        ...     ...     ...     ...     ...     ...     ...
11928      NaN     NaN     NaN     NaN     NaN     NaN     NaN
11929      b''     NaN   480.0    61.0   206.0   235.0     1.0
11930      b''     NaN   600.0    69.0   174.0   180.0     1.0
11931      b''     NaN   240.0    69.0   200.0   170.0     2.0
11932      b''     NaN   360.0    64.0   157.0   157.0     1.0

[11933 rows x 86 columns]